<h1>Compliance Cart</h1>

<ng-container *ngIf="cart$ | async as cart">
    <p>
      You have {{ cart.totalItemsCount }} items in your Compliance Cart.
    </p>

      <table class="table">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Compliance List</th>
            <th>Reference Doc and Rev.</th>
            <th>Date Validity </th>
            <th>qtylist </th>
            <th>Quantity </th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>{{ item.compliance.company }}</td>
            <td>{{ item.compliance.title }}</td>
            <td>{{ item.compliance.revision }}</td>
            <td>{{ item.compliance.datevalidity }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalQtylist }}</td>
           
  
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>{{ cart.totalQtylist }}</th>
          </tr>
        </tfoot>
      </table>
</ng-container>
