<h1>Compliance Cart</h1>

<ng-container *ngIf="cart$ | async as cart">
    <p>
      You have {{ cart.totalItemsCount }} items in your Compliance Cart.
      <button 
      (click)="clearCart()"
      class="btn btn-light btn-sm">Clear Compliance Cart</button>
    </p>

      <table class="table">
        <thead>
          <tr>
            <th>Compliance Image</th>
            <th>Company Name</th>
            <th>Compliance List</th>
            <th>Revision</th>
            <th>Date Validity </th>
            <th class="text-center" style="width: 200px" >Requirement List </th>
            <th class="text right" style="width: 200px">Balance Quantity </th>    
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of cart.items">
            <td>
              <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
             </td>
            <td>{{ item.company }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.revision }}</td>
            <td>{{ item.datevalidity }}</td>
            <td class="text-center" style="width: 5px">
              <compliance-quantity [compliance]="item" [compliance-cart]="cart" >
              </compliance-quantity>
            </td>
            <td class="text-center" style="width: 50px">{{ item.totalQtylist }}</td>
           
  
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right" style="width: 300px">{{ cart.totalQtylist }} Total Compliance Requirement</th>
          </tr>
        </tfoot>
      </table>
      <a 
      *ngIf="cart.items.length"
      routerLink="/check-list"
      class="btn btn-primary">Check Out</a>
    
</ng-container>
