<div style="margin: auto; max-width: 1000px;">

    <h1>
        <i class="fa fa-search-plus" aria-hidden="true"></i>
        <input 
        #query 
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="Search...">
   
    </h1>

</div>


<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Compliance List"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'company'"
            [header]="'Company'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'title'"
            [header]="'Title'"
            [sortable]="true"
            [resizable]="true">
         </data-table-column>

        <data-table-column
            [property]="'revision'"
            [header]="'Revision'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>


         <data-table-column
            [property]="'datevalidity'"
            [header]="'Date Validity'"
            [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{ item.datevalidity | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>

        <data-table-column
        [property]="'qtylist'"
        [header]="'Qty Required'"
        [sortable]="true"
        [resizable]="true">
         </data-table-column>

        <data-table-column
            [property]="'desc'"
            [header]="'Description'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>


        <data-table-column
            [property]="'$key'">
            <ng-template #dataTableCell let-item="item">
                <a [routerLink]="['/compliance-view/', item.$key]"><i class="fa fa-eye" aria-hidden="true"></i>Details</a>
                
            </ng-template>
        </data-table-column>
           
    </data-table>
</div>