<p>
  admin-request works!
</p>
<h1>Manage Request</h1>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Contact Person</th>
      <th>Company Name</th>
      <th>Address</th>
      <th>Date Created </th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let request of requests$ | async">
      <td>{{ request.sending.email }}</td>
      <td>{{ request.sending.contactperson }}</td>
      <td>{{ request.sending.companyname }}</td>
      <td>{{ request.sending.city }}</td>
      <td>{{ request.datePlaced | date}}</td>
      <td>
        <a type="button" class="btn btn-sucess" [routerLink]="['/']">
            <i class="fa fa-eye" aria-hidden="true"></i>
           </a>
        
            <button 
            type="button" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        
    </td>

    </tr>
  </tbody> 
</table>