<p>
  myrequest-view works!
</p>


<ng-container *ngIf="cart$ | async as cart">
  

    <table class="table">
      <thead>
        <tr>
          <th>Compliance Image</th>
          <th>Company Name</th>
          <th>Compliance List</th>
          <th>Revision</th>
          <th>Date Validity </th>
          <th>Description</th>
         
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>
            <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
           </td>
            <td>{{ item.company }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.revision }}</td>
            <td>{{ item.datevalidity }}</td>
            <td>{{ item.desc }}</td>

        </tr>
      </tbody>

    </table>
   
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/']">
          <i class="fa fa-home" aria-hidden="true">Back</i>

      </a>
  
</ng-container>
