
<div *ngIf="compliance.title" class="card" style="max-width:20rem;" >
  <img *ngIf="compliance.imageUrl" class="card-img-top" [src]="compliance.imageUrl" alt="{{ compliance.title }}">
    <div class="card-body">
        <h6 class="card-title">{{ compliance.title }}</h6>
        <p class="card-text">{{ compliance.revision }}</p>    
        <p class="card-text">{{ compliance.qtylist }}</p>  
        <p class="card-text">{{ compliance.datevalidity | date:'yyyy-MM-dd' }}</p> 
        <p class="card-text">{{ compliance.desc }}</p>  

        <div class="caption">
            <div *ngIf="!compliance.showDetails">
                <p class="card-text">{{ compliance.revision }}</p>    
                <p class="card-text">{{ compliance.qtylist }}</p>  
                <p class="card-text">{{ compliance.datevalidity | date:'yyyy-MM-dd' }}</p> 
                <p class="card-text">{{ compliance.desc }}</p>  
            <hr>
                <button
                    class="btn btn-sm btn-success"
                    *ngIf="!compliance.showDetails"
                    (click)="compliance.showDetails = !compliance.showDetails">
                    <i class="fa fa-eject" aria-hidden="true">Eject</i>

                </button>
            </div>

            <!-- <div *ngIf="compliance.showDetails">
                <div class="details">
                        <p class="card-text">{{ compliance.revision }}</p>    
                        <p class="card-text">{{ compliance.qtylist }}</p>  
                        <p class="card-text">{{ compliance.datevalidity | date:'yyyy-MM-dd' }}</p> 
                        <p class="card-text">{{ compliance.desc }}</p>  
        

                        <button
                        class="btn btn-sm btn-success"
                        (click)="compliance.showDetails = !compliance.showDetails">
                        <i class="fa fa-expand" aria-hidden="true">Close</i>
                    </button>
                </div>
            </div> -->
        </div>  

    </div>
 

    <div *ngIf="showActions && complianceCart" class="card-foooter"> 
         <button 
          *ngIf="complianceCart.getQuantity(compliance) === 0; else updateQuantity"
          (click)="addToCart()"
          class="btn btn-secondary btn-block">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          Add to Compliance Request</button>

          <ng-template #updateQuantity>
             <compliance-quantity [compliance]="compliance" [compliance-cart]="complianceCart"></compliance-quantity>
          </ng-template>    


         <button 
         [routerLink]="['/compliance-details']"
         class="btn btn-success btn-block">
         <i class="fa fa-eye" aria-hidden="true"></i>
         View in Table format</button>
         

         <button 
         [routerLink]="['/upload-compliance']"
         class="btn btn-primary btn-block">
         <i class="fa fa-upload" aria-hidden="true"></i>
         Upload Compliance</button>
         
    </div>
</div>

<!-- 
<div class="card" style="width: 20rem;"></div> -->