
<div *ngIf="compliance.title" class="card" style="max-width:20rem;" >
  <img *ngIf="compliance.imageUrl" class="card-img-top" [src]="compliance.imageUrl" alt="{{ compliance.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ compliance.title }}</h5>
            <p class="card-text">{{ compliance.revision }}</p>    
            <p class="card-text">{{ compliance.qtylist }}</p>  
            <p class="card-text">{{ compliance.datevalidity | date:'yyyy-MM-dd':true }}</p> 
            <p class="card-text">{{ compliance.desc }}</p>                   
    </div>

    <div *ngIf="showActions && complianceCart" class="card-foooter"> 
         <button 
          *ngIf="complianceCart.getQuantity(compliance) === 0; else updateQuantity"
          (click)="addToCart()"
          class="btn btn-secondary btn-block">Add to Compliance Request</button>

          <ng-template #updateQuantity>
             <compliance-quantity [compliance]="compliance" [compliance-cart]="complianceCart"></compliance-quantity>
          </ng-template>    


         <button 
         [routerLink]="['/compliance-details']"
         class="btn btn-success btn-block">View Details</button>
         

         <button 
         [routerLink]="['/upload-compliance']"
         class="btn btn-primary btn-block">Upload Compliance</button>
         
    </div>
</div>

<!-- 
<div class="card" style="width: 20rem;"></div> -->