  <div class="row">
    <div class="col-3">
      <compliance-filter [company]="company"></compliance-filter>
    </div>
    <div class="col">
      <h4>List of Compliance</h4>
      <div class="row" *ngIf="cart$ | async as cart">
          <ng-container *ngFor="let c of filteredCompliances; let i = index">
             <div class="col">
              <compliance-card [compliance]="c" [compliance-cart]="cart"></compliance-card>
             </div>
            <div *ngIf="(i + 2) % 7 === 0" class="w-100"></div>
          </ng-container>    
        </div>
    </div>
  </div>







  













