<div class="row no-gutters">
    <div class="col-2 text-center">
        <button 
           (click)="removeFromCart()"
           class="btn btn-secondary" btn-block>-</button>
    </div>

    <div class="col text-center">
        <!-- {{ getQuantity(compliance) }} in Cart -->

        {{ complianceCart.getQuantity(compliance) }} in Request

    </div>

    <div class="col-2 text-center">
       <button 
         (click)="addToCart()"
         class="btn btn-secondary" btn-block>+</button>
    </div>
</div>